!!! Strict
%html{:xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title
      = @title || 'FootballSucks'
    %link{:rel => "stylesheet", :href => "/stylesheets/footballsucks.css", :type => "text/css", :media => "all"}
    %link{:rel => "stylesheet", :href => "http://fonts.googleapis.com/css?family=Droid+Sans", :type => 'text/css'}
    %script{:src => "/javascripts/jquery-1.4.2.min.js", :type => "text/javascript"}
    %script{:src => "/javascripts/jquery.tablesorter.min.js", :type => "text/javascript"}
    = javascript_include_tag 'highcharts', 'application'
    
    /[if IE]
      = javascript_include_tag :ie_high_charts
    
  %body
    
    .pad{:id => 'wrapper'}
      %h1{:style => "font-size:72px;margin-top:30px;"} FootballSucks
  
      #content
  
        = yield